body {
  margin: 0;
}

.menu {
  width: 100%;
  height: 50px;
  text-align: center;
  background-color: #333;
  position: fixed;
  font-size: 12pt;
}
.menu ul {
  padding: 0;
  margin: 0 auto;
  width: auto;
}
.menu .title {
  color: rgb(82, 82, 255);
  font-weight: bold;
  padding-left: 5px;
}

.menu li {
  display: inline-block;
  line-height: 50px;
}
.menu ul li a {
  padding: 14.5px 16px;
  text-decoration: none;
  color: white;
}
.menu ul li a:hover {
  color: #ffd400;
  transition: color 0.2s linear;
}
@media screen and (max-width: 600px) {
  .menu {
    position: static;
    text-align: left;
    height: auto;
  }
  .menu ul li {
    display: block;
  }
  .menu ul li:hover {
    background-color: #ffd400;
    transition: background-color 0.2s linear;
  }
  .menu ul li:hover a {
    color: #333;
    transition: color 0.2s linear;
  }
}

.main {
  padding: 20px;
}

.cat {
  max-width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
}

.main-container {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%; /* 각 행(세로줄)의 길이 */
  grid-template-rows: 30px 500px 10px; /* 각 열(가로줄)의 길이 */
  gap: 0px 10px; /* 자식요소간의 간격 */
}
.main-container1 {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%; /* 각 행(세로줄)의 길이 */
  grid-template-rows: 30px 400px 10px; /* 각 열(가로줄)의 길이 */
  gap: 0px 10px; /* 자식요소간의 간격 */
}

.temp-box {
  background: white;
  width: 100%;
  height: 100%;
  font-size: 40px;
  border: 1px solid #dee3eb;
  text-align: center;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.temp-box-1 {
  background: #ececec;
  width: 100%;
  height: 100%;
  font-size: 40px;
  border: 1px solid #dee3eb;
  text-align: center;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.temp-box-2 {
  background: #010101;
  width: 100%;
  height: 100%;
  font-size: 40px;
  border: 1px solid #dee3eb;
  text-align: center;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.temp-box-3 {
  background: #010101;
  width: 100%;
  height: 100%;
  font-size: 40px;
  border: 1px solid #dee3eb;
  text-align: center;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.temp-box1 {
  background: #5b9bd5;
  color: white;
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 20px;
  border: 1px solid #dee3eb;
}
.temp-box2 {
  background: #5b9bd5;
  color: white;
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 20px;
  border: 1px solid #dee3eb;
}

.top {
  color: green;
}
.mak {
  color: rgb(209, 157, 78);
  font-size: 18px;
}
.beer {
  color: brown;
  font-size: 18px;
}
.sake {
  color: orange;
  font-size: 18px;
}
.wine {
  color: purple;
  font-size: 18px;
}
.hon {
  color: rgb(185, 124, 12);
  font-size: 18px;
}
.pol {
  color: rgb(220, 197, 156);
  font-size: 18px;
}
span {
  background-color: lavender;
  font-style: italic;
}
p {
  background-color: lavender;
  font-style: italic;
}
.d {
  background-color: yellow;
}
.c {
  background-color: lime;
}

.sool10 {
  width: 300px;
  height: 300px;
}

.sool11 {
  width: 200px;
  height: 400px;
}

.sool12 {
  width: 300px;
  height: 300px;
}

.sool13 {
  width: 300px;
  height: 400px;
}

.sool14 {
  width: 300px;
  height: 400px;
}

.sool15 {
  width: 300px;
  height: 400px;
}

.sool16 {
  width: 300px;
  height: 400px;
}

.sool18 {
  width: 500px;
  height: 400px;
}

.sool17 {
  width: 500px;
  height: 400px;
}

.sool20 {
  width: 400px;
  height: 300px;
}

.sool19 {
  width: 300px;
  height: 400px;
}

.sool21 {
  width: 300px;
  height: 400px;
}

.sool23 {
  width: 400px;
  height: 300px;
}

.sool24 {
  width: 400px;
  height: 300px;
}

.sool25 {
  width: 300px;
  height: 400px;
}

.sool27 {
  width: 400px;
  height: 300px;
}
